@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome</h2>
    <p class="lead">Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to use the services provided by Turbo Matter Management.</p>
    <p>Enjoy.</p>
</div>

